:root{
    /*variables*/
    --familyfontrob: 'Roboto', sans-serif;
    --familyfontral: 'Raleway', sans-serif;
    --blackcolor:#212121;
    --bluecolor: #2196F3;
    --whitecolor: #FFFFFF;
    --navycolor: #2F303A;
    --greycolor: #757575;
}

body{
    font-family: var(--familyfont) ;
    color:  var(--blackcolor);
    
}
  
  

   ul{
       list-style-type: none;
   }

  .webstudio{
      font-family: var(--familyfontral);
      font-size: 26px;
      text-decoration: none;
      color:var(--bluecolor);
  }

 
  .nav-headings .link,
  .mail-tell .link{
      
      font-family: var(--familyfontrob);
      font-weight: 500;
      font-size: 14px;
      text-decoration: none;
      line-height: 1.1;
      color: var(--blackcolor);

  }
  
  .nav-headings .current-page{
      color:var(--bluecolor);
      font-family: var(--familyfontrob);
      font-weight: 500;
      font-size: 14px;
      text-decoration: none;
      line-height: 1.1;
  }

  .nav-headings .link:hover,
  .nav-headings .link:focus,
  .nav-headings .link:active,
  .mail-tell .link:hover{
      color:var(--bluecolor);
  }


  .mail-tell .email,
  .mail-tell .tell{
      
      color: var(--greycolor);
  }



  .first-section{
      background-color: var(--navycolor) ;
  }

.first-section-heading {
    font-family: var(--familyfontrob);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;

    text-align: center;
    letter-spacing: 0.06em;
    color: var(--whitecolor);
}


 .button-text{
    background-color: var(--bluecolor);
    font-family: var(--familyfontrob);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    cursor:pointer;

    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;

    color:var(--whitecolor);
}
.button-text:hover{
    background-color: #188CE8;
}


.solutions-section-heading {
    font-family: var(--familyfontrob);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    color:var(--blackcolor);
}

.solutions-section-par{
    font-family: var(--familyfontrob);
    font-size: 14px;
    line-height: 1.7;
    color:var(--greycolor);
}

.our-team{
    background-color: #F5F4FA;
}
.what-we-do-heading , .our-team-heading1{
    font-family:var(--familyfontrob);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    color: var(--blackcolor);
}

.our-team-heading2 {
    font-family: var(--familyfontrob);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: var(--blackcolor);
}

.our-team-par {
    font-family: var(--familyfontrob);
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: var(--greycolor);
}

.footer-content{
  
    font-family: var(--familyfontrob);
    font-size: 14px;
    line-height: 1.7;
    
   
    text-decoration: none;
    background-color: var(--navycolor);
}


.address{
    font-style: normal;
}



 .ftr{
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    
}

.ftr:hover{
    color:var(--whitecolor);
}